/*--------------------------------------------------------------
11.4 Image Attachments
--------------------------------------------------------------*/

.attachment .entry-title { margin-top: .7em; }

.entry-attachment { margin-bottom: 3rem; }

.attachment-caption {
    font-size: 14px;
    font-size: 1.4rem;
    font-family: 'Lato', sans-serif;
}