/*--------------------------------------------------------------
11.5 Comments
--------------------------------------------------------------*/
.comments-title {
    font-weight: 900;
    font-size: 36px;
    font-size: 3.6rem;
}

.comments-area > ol {
    padding: 0;
    margin: 2em 0;
    list-style-type: none;
}

ol.children { list-style-type: none; }

.comment-author .avatar {
    display: block;
    float: left;
    width: 50px;
    margin-right: 20px;
}

.comment-author .fn {
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-size: 2rem;
}

.comment-metadata {
    font-size: 14px;
    font-size:1.4rem;
}

.comment-meta { margin-bottom: 1em; }

.comment-content { font-size: 90%; }

.comment-content,
.reply { margin-left: 70px; }

.comment-body {
    padding-bottom: 2em;
    margin-bottom: 2em;
    border-bottom: solid hsl(0, 0%, 80%) 1px;
}

.comment-list ol { margin-left: 50px; }

.comment-content a { word-wrap: break-word; }

.reply {
    font-weight: 600;
    font-size: 14px;
    font-size: 1.4rem;
    font-family: 'Lato', sans-serif;
}

.comment-content ol { margin-left: 1.5em; }

.bypostauthor > .comment-body {
    position: relative;
    padding: 1em;
    margin-bottom: 2em;
    background: hsl(0, 0%, 93%);
    border: none;
}

/* Comments responsive */
@media screen and (max-width:600px) {    
    .comment-list ol { margin-left: 0; }
    
    .comment-content ol { margin-left: 1.5em; }
    
    .comment-content,
    .reply { margin-left: 0; }
}

.comment-reply-title {
    margin-bottom: .5em;
    font-weight: 900;
    font-size: 30px;
    font-size: 3rem;
}

.comment-form {
    padding-bottom: 4rem;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
}

.comment-form textarea {
    font-family: 'PT Serif', serif;
    font-size: 18px;
    font-size: 1.8rem;
}

.comment-form label { display: block; }

.required { color: red; }