/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
hr {
    height: 1px;
    margin-bottom: 1.5em;
    background-color: $white-grey;
    border: 0;
}

ul, ol { margin: 0 0 1.5em 3em; }

ul { list-style: disc; }

ol { list-style: decimal; }

li > ul, 
li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt { font-weight: bold; }

dd { margin: 0 1.5em 1.5em; }

img {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container width. */
}

figure { margin: 0; }

table {
    width: 100%;
    margin: 0 0 1.5em;
}

th { font-weight: bold; }