/*--------------------------------------------------------------
14 Footer
--------------------------------------------------------------*/

.site-footer {
    padding: 2em;
    font-size: 16px;
    font-size: 1.6rem;
    font-family: 'Lato';
    color: #fff;
    color: hsl(0, 0%, 100%);
    background: #313131;
    background: hsl(0, 0%, 19%);
}

.site-footer a {
    color: #fff;
    color: hsl(0, 0%, 100%);
}

.site-info { text-align: center; }
