/*--------------------------------------------------------------
14 Footer
--------------------------------------------------------------*/

.site-footer {
    padding: 2em;
    font-size: 16px;
    font-size: 1.6rem;
    font-family: $lato-stack;
    color: white;
    background: $dark-grey;
}

.site-footer a {
    color: white;
}

.site-info { text-align: center; }
