
$lato-stack: 'Lato', Helvetica, Arial, sans-serif;


/* 333 */
$dark-grey: hsl(0, 0%, 20%);

/* 404040 */
$quarter-grey: hsl(0, 0%, 25%);

/* 4d4d4d */
$thirty-grey: hsl(0, 0%, 30%);

/* BFBFBF */
$grey: hsl(0, 0%, 75%);

/* CCC */
$light-grey: hsl(0, 0%, 80%);

/* E6E6E6 */
$white-grey: hsl(0, 0%, 90%);

// blue
$simone-blue: hsl(198, 95%, 38%);

