/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
a {
    text-decoration: none;	
    color: hsl(0, 0%, 0%);    
}

a:visited { color: hsl(0, 0%, 20%); }

a:hover,
a:focus,
a:active { text-decoration: underline; }

/*--------------------------------------------------------------
5.2 Main Menu
--------------------------------------------------------------*/
.main-navigation {
    position: relative;
    display: block;
    width: 100%;
    clear: both;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    background: hsl(0, 0%, 19%);
}

.main-navigation ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.main-navigation li {
    position: relative;
    float: left;
}

.main-navigation a {
    display: block;
    padding: 1.3em 1em;
    font-size: 14px;
    font-size: 1.4rem;
    text-decoration: none;
    line-height: 1.3em;
    color: hsl(0, 0%, 100%);
}

.main-navigation ul ul {
    position: absolute;
    left: 0;
    z-index: 99999;
    display: none;
    float: left;
    padding: 0;
    background: hsl(0, 0%, 30%);
}

.main-navigation ul ul ul {
    top: 0;
    left: 100%;
}

.main-navigation ul ul a { width: 200px; }

.main-navigation ul ul li { }

.main-navigation li:hover > a,
.main-navigation li > a:focus {
    color: hsl(0, 0%, 100%);
    background: hsl(0, 0%, 30%);
}

.main-navigation ul ul :hover > a { }

.main-navigation ul ul a:hover,
.main-navigation ul ul a:focus { background: hsl(0, 0%, 19%); }

.main-navigation ul li:hover > ul { display: block; }

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_item > a:hover,
.main-navigation .current-menu-item > a:hover,
.main-navigation .current_page_item > a:focus,
.main-navigation .current-menu-item > a:focus {
    color: hsl(0, 0%, 19%);
    background: white;
}

.main-navigation .current_page_ancestor {
    background: hsl(0, 0%, 30%);
}

.main-navigation ul ul .current_page_parent,
.main-navigation .current_page_parent .current_page_item > a {
    color: white;
    background: hsl(0, 0%, 19%);
}

/* Small menu */
.menu-toggle {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .menu-toggle {
        display: inline-block;
        height: 3.9em;
        padding: 0 1em;
        font-weight: normal;
        font-size: 14px;
        font-size: 1.4rem;
        text-decoration: none;
        line-height: 3.75em;
        color: white;
    }
      
    .menu-toggle a:hover,
    .menu-toggle a:focus { background: hsl(0, 0%, 30%); }

    .main-navigation.toggled .nav-menu {
        display: block;
        border-top: 1px solid;
        border-top-color: hsla(0, 0%, 100%, .5);
    }

    .main-navigation ul {
        display: none;
        padding-left: 0;
    }

    .main-navigation li { float: none; }

    .main-navigation li a { padding: 1.3em 2em; }

    .main-navigation li li a { padding-left: 4em; }

    .main-navigation li li li a { padding-left: 6em; }

    .main-navigation li:hover > a,
    .main-navigation li > a:focus {
        background: #313131;
        background: hsl(0, 0%, 19%);
    }

    .main-navigation ul ul,
    .main-navigation ul ul ul {
        position: relative;
        top: inherit;
        left: 0;
        display: block;
        float: none;
        background: hsl(0, 0%, 19%);
    }

    .main-navigation ul ul a { width: 100%; }

    .main-navigation ul a:hover,
    .main-navigation ul ul a:hover,
    .main-navigation ul a:focus,
    .main-navigation ul ul a:focus{
        background: hsl(0, 0%, 30%);
    }

    .main-navigation .current_page_ancestor { background: inherit; }

    .main-navigation ul ul .current_page_parent {
        color: inherit;
        background: inherit;
    }

    .main-navigation .current_page_item > a,
    .main-navigation .current_page_item > a:hover,
    .main-navigation .current_page_item li:hover,
    .main-navigation .current_page_item > a:focus,
    .main-navigation .current_page_item li:focus,
    .main-navigation .current_page_parent .current_page_item > a  {
        color: white;
        background: hsl(0, 0%, 30%);    
    }

} /* End responsive menu */

/*--------------------------------------------------------------
5.3 Social Menu
--------------------------------------------------------------*/

.menu-social ul {
    float: right;
    text-align: center;
    list-style: none;    
}

.menu-social ul li {
    position: relative;
    display:  inline-block;    
}

.menu-social li a:before {
    display: inline-block;
    vertical-align: top;
    padding: 0 5px;
    font-family: 'Fontawesome';
    font-size: 20px;
    color: white;
    -webkit-font-smoothing: antialiased;
    content: '\f08e';
}

.menu-social li a[href*="dribbble.com"]::before { content: '\f17d'; }

.menu-social li a[href*="facebook.com"]::before { content: '\f09a'; }

.menu-social li a[href*="flickr.com"]::before { content: '\f16e'; }

.menu-social li a[href*="foursquare.com"]::before { content: '\f180'; }

.menu-social li a[href*="github.com"]::before { content: '\f09b'; }

.menu-social li a[href*="plus.google.com"]::before { content: '\f0d5'; }

.menu-social li a[href*="instagram.com"]::before { content: '\f16d'; }

.menu-social li a[href*="jsfiddle.com"]::before { content: '\f1cc'; }

.menu-social li a[href*="linkedin.com"]::before { content: '\f0e1'; }

.menu-social li a[href*="pinterest.com"]::before { content: '\f0d2'; }

.menu-social li a[href*="reddit.com"]::before { content: '\f1a1'; }

.menu-social li a[href*="soundcloud.com"]::before { content: '\f1be'; }

.menu-social li a[href*="stackoverflow.com"]::before { content: '\f16c'; }

.menu-social li a[href*="tumblr.com"]::before { content: '\f173'; }

.menu-social li a[href*="twitter.com"]::before { content: '\f099'; }

.menu-social li a[href*="vimeo.com"]::before { content: '\f194'; }

.menu-social li a[href*="vine.co"]::before { content: '\f1ca'; }

.menu-social li a[href*="yelp.com"]::before { content: '\f1e9'; }

.menu-social li a[href*="youtube.com"]::before { content: '\f167'; }

.menu-social li a[href*="wordpress.com"]::before { content: '\f19a'; }



@media screen and (max-width: 600px) {
    #menu-social ul {
	position: absolute;
        top: 0;
        right: 6rem;
        display: block;
    }
    
    #menu-social li a { 
        padding-left:.5em;
        padding-right: .5em;
    }
}

/*--------------------------------------------------------------
5.4 Paging Navigation
--------------------------------------------------------------*/

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
    font-size: 18px;
    font-size: 1.8rem;
    font-family: 'Lato', sans-serif;
    color: black;
}

.post-nav-box {
    padding: 2em 0;
    margin-bottom: 4em;
    border-top: hsl(0, 0%, 80%) solid 1px;
    border-bottom: hsl(0, 0%, 80%) solid 1px; 
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;	
    width: 50%;    
    padding-right: 15%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
    float: right;    
    width: 50%;	    
    padding-left: 15%;
    text-align: right;
}

.nav-indicator { margin-bottom: 1em; }

.nav-previous h1,
.nav-next h1 { font-weight: 900; }

.comment-navigation {
    padding: 1em 0;
    margin: 3em 0;
    border-top: hsl(0, 0%, 80%) solid 1px;
    border-bottom: hsl(0, 0%, 80%) solid 1px;  
}

.comment-navigation i { margin: 0 1em; }

@media screen and (max-width: 600px) {
    .comment-navigation .nav-previous,
    .post-navigation .nav-previous,
    .comment-navigation .nav-next,
    .post-navigation .nav-next {
        float: none;
        width: 100%;
        padding: 0;
        text-align: left;
    }
    
    .comment-navigation .nav-next,
    .post-navigation .nav-next { margin-top: 4rem; }
}

.paging-navigation ul { margin: 0; }

.paging-navigation li { display: inline; }

a.page-numbers,
span.page-numbers {
    padding: .3em .7em;
    color: hsl(0, 0%, 20%);
}

a:hover.page-numbers,
a:focus.page-numbers{
    color: black;
}

.paging-navigation .current {
    font-weight: bold;
    color: black;
}